<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Welcome to your account</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">
    <a href="/sessions/logout">Log Out</a> 
  </head>
  <body id="page-top">


  </body>
</html>
